@media screen and (max-width: 1100px) {
  main {
    height: 160vh;
  }
  .card-container {
    flex-direction: column;
    height: 150vh;
    width: 50%;
    p {
      width: 80%;
    }
    a {
      width: 40%;
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    height: 200vh;
  }
  .card-container {
    flex-direction: column;
    height: 160vh;
    width: 90%;
    margin: auto;
    a {
      width: 70%;
    }
  }
  p {
    width: 100%;
  }
  .card {
    height: 120%;
  }
}
